/* Common Styling */
:root{
       --baseColor : #E53E29;
       --tealbg : #071C1F;
       --textColor : #7a7a7a;
}

*{
  box-sizing: border-box;
}


body{
     margin: 0;
     padding: 0;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
}

h3{
  font-size: 22px;
  margin-top: 0;
}
p{
   color: var(--textColor);
   line-height: 25px;
}
ul{
  color: var(--textColor);
}
ul li {
  line-height: 25px;
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: var(--baseColor);
}

.container{
  width: 1170px;
  margin: 0 auto;
  display: flow-root;
}
.darkbg{
      background: var(--tealbg)
}
.greybg{
      background: #F9F9F9;
}
.section{
   padding: 100px 0;
}
.sectionhd{
   text-align: center;
   padding-bottom: 30px;
}
.sectionhd .left{
          text-align: left;
          padding-bottom: 30px;
}
.sectionhd span{
         color: var(--baseColor);
         font-size: 17px;
}
  .sectionhd h2{
    color: var(--tealbg);
    font-size: 45px;
    margin-top: 20px;
  }
.sectionhd .left h2{
           margin-bottom: 30px;
}
.w50{
      width: 50%;
      float: left;
}
.mb30{
       margin-bottom: 30px;
}
/* Book-bar */
#book-bar{
  background-color: #F2F3F5;
  padding: 12px 0;
}

#book-info{
  float: left;
}
#book-info  a{
  color: var(--baseColor);
}
#book-info a:hover{
           color: #000;
}
#book-bar ul{
       list-style: none;
       float: right;
       margin: 0px;
       }
#book-bar ul li {
              display: inline-block;
              padding: 0px 7px;
               }
#book-bar ul li a{
            color: var(--tealbg);
}
 
 #book-bar ul li a:hover{
               color: var(--baseColor);
                  }
  /*logobar */
#logobar{
	padding: 15px 0;
}

#logo{
	display: inline-block;
	float: left;
}

#logobar .readmore{
	color: #fff;
	background: var(--baseColor);
	padding: 15px 25px;
	float: right;
}

#logobar .company-info{
	float: right;
	width: 250px;
	margin-right: 80px;
}

#logobar .company-info .hd{
	font-weight: bold;
}

#logobar .company-info .fa{
	color: var(--baseColor);
	font-size: 35px;
	float: left;
	margin-right: 15px;
}
  /* Menubar */
  #Menubar{
    background: var(--baseColor);
  }
  #Menubar ul{
          list-style: none;
          margin: 0;
          padding: 0;
  }
  #Menubar ul li{
             display: inline-block;
             padding: 0px 10px;
  }
  #Menubar ul li a{
            color: #fff;
            font-size: 17px;
            padding: 20px 2px;
            display: block;
  }
  #Menubar ul li a:hover{
              color: #000;
  }
/* Banner */
#Banner{
  height: 600px;
  background: url(../image/banner1.jpg) no-repeat;
  border: 1px solid #000;
}
#Banner .inner{
             width: 90%;
             margin: 0 auto;
             color: #fff;
}
#Banner h2{
          font-size: 80px;
}
#Banner p{
          color: #fff;
          font-size: 20px;
          margin-top: 50px;
}
#Banner .readmore{
  color: #fff;
  margin-left: 20px;
  font-size: 17px;
  padding: 15px 25px;
  background: var(--baseColor);
  float: left;
}
#Banner .readmore a{
            color: var(--baseColor);
}
#Banner .readmore a:hover{
           color: var(--tealbg);
}
#Banner .Learnmore{
  color: #fff;
  margin-left:20px;
  font-size: 17px;
  padding: 15px 25px;
  border: 1px solid white;
  float: left;
}
#Banner .Learnmore a:hover{
               color: #fff;
               font-color:var(--baseColor);
}
/* Services */
.darkbg .sectionhd h2{
               color: #fff;
}

.servicebox{
       background: #fff;
       width: 32%;
       float: left;
       margin-right: 10px;
       padding: 70px 50px;
       border: 1px solid #fff;
}
.servicebox:lastchild{
                 margin-right: 0;
}
.servicebox img{
           margin-bottom: 40px;
}
.servicebox .read{
            color: var(--baseColor);
            display: block;
}
.servicebox.active {
  background: var(--baseColor);
  color: #fff;
}

.servicebox.active p, .servicebox.active a {
  color: #fff;
}
/* About Us */
.rate{
      margin-bottom: 30px;
}
.rate .fa{
       color: var(--baseColor);
       font-size: 50px;
       margin-right: 20px;
       float: left;
}
.rate .percentage{
  color: var(--baseColor);
  display: block;
  font-size: 35px;
  font-weight: bold;
}
.rate img{
       float: inline-start;
}
.rate .ratehd{
    font-size: 17px;
    color: var(--textColor);
}
/* servicebox2 */
.servicebox2{
       background: #fff;
       border-bottom: 4px solid var(--baseColor);
       width: 32%;
       margin-right: 15px;
       float: left;
       box-shadow: 0 0 30px 0 rgb( 0 0 0 / 9%);
}
.servicebox2:last-child{
            margin-right: 0;
}
.servicebox2 img{
   width: 100%;
}
.sb1-content{
         background: #f9f9f9;
         padding: 80px 20px 20px;
         position: relative;
}
.sb1-content .icon{
         background: #fff;
         padding: 20px;
         border-radius: 5px;
         position: absolute;
         top: -15%;
         filter: drop-shadow(0 0 35px rgba(0,0,0,.08));
}
.sb1-content .icon .fa{
        color: var(--baseColor);
        font-size: 25px;
}
.servicebox2 .readmore{
           color: var(--baseColor);
}
/* Testimonials */
#testimonials{
          background: var(--tealbg);
          padding: 80px 30px;
          display: flow-root;
          
}
.testimonial{
           width: 30.6%;
           float: left;
           margin-right: 45px;
           
}
.testimonial:last-child{
	margin-right: 0;
}
.testimonial image{
              width: 60px;
              float: left;
              margin-right: 20px;
              display: block;
}
.testimonial .client{
             color: var(--baseColor);
             font-size: 22px;
             font-weight: bold;
             display: block;
             margin-bottom: 8px;
}
.testimonial .client-designation{
                color: #fff;
                display: block;
}
.testimonial .rating-star{
                color: var(--baseColor);
                font-size: 23px;
                margin: 25px 0 20px;
                clear: both;
}
.testimonial p{
	color: #fff;
	margin: 0;
}
/* Gallery */
#carousel-gallery.container{
          width: 90%;
}
.gallery1{
      width: 23.3%;
      margin-right: 25px;
      float: left;
}
.gallery1:last-child{
	margin-right: 0;
}

.gallery1 img{
	width: 100%;
}
/* our Team */
.team{
      float: left;
      text-align: center;
      margin-right: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 4px 0 rgb(0 0 0 / 5%);
}
.team:last-child{
  margin-right: 0;
}
.team .team-image {
            margin-bottom: 20px;
}
.team .team-member{
            font-size: 20px;
            line-height: 32px;
            font-weight: bold;
            display: block;
}
.team .team-designation{
	color: var(--baseColor);
	font-size: 16px;
}
/* callout */
.callout{
       width: 50%;
       margin: 0px auto 80px;
}
.callout img{
     float: left;
     margin-right: 30px;
}
.callout p{
        font-size: 16px;
        font-weight: bold;
        color: var(--tealbg);
}
.callout p span{
	color: var(--baseColor);
	font-size: 18px;
}
/* Client */
#client{
      padding: 60px 0;
      border-top: 1px solid lightgray;
}
#client ul{
         list-style: none;
         margin: 0;
         padding: 0;
}
#client ul li{
          float: left;
          padding: 0 25px;
}
#client ul li a{
       display: block;
       padding: 0 36px;
}
/*whyus*/

#whyus{
	background: var(--tealbg) url(../image/building.jpg) no-repeat top right;
  width: auto;
}

#whyus.section{
          padding: 100px 0 0;
}
#whycontent{
         color: #fff;
         width: 55%;
         margin-right: 100px;
         float: left;
}
#whycontent p,#whycontent h2{
                     color: #fff;
}
.whylists{
        margin-bottom: none;
        clear: both;
}
.whylists p{
         color: #fff;
}

.whylists  .fa-check-square {
  background: var(--baseColor);
  font-size: 18px;
  border-radius: 3px;
  padding: 15px;
  margin: 0 20px 37px 0;
  float: left;
}

.whylists h3{
         margin-bottom: 8px;
         color: #fff;
}
#whyrate{
    width: 30%;
    float: left;
    }
    #whyus .rate {
      background: #fff;
      width: 300px;
      padding: 30px;
    } 
    #whyus .rate:nth-child(even){
      margin-left: 35px;
    }
    #whyrate .rate img{
     
    }
    
    #whyus .rate .percentage{
      color: var(--tealbg);
    }
    /* Faq */
  #faq{
    list-style: none;
    padding: 0;
  }
  #faq li{
        background: #fff;
        margin-bottom: 15px;
  }
  #faq li h4{
        background: #fff;
        color: var(--tealbg);
        font-size: 18px;
        padding: 25px;
        margin: 0;    
  }
  #faq li h4:hover{
         background: var(--baseColor);
         color: #fff;
  }
  #faq li h4:active + p{
    display: block;
  }
  
  #faq li p{
    padding: 10px;
    margin: 0;
    display: none;
  }
/* counter */
.counter{
      text-align: center;
      width: 25%;
      padding: 0 0 35px 0;
      position: relative;
      z-index: 1;
      float: left;
}
.counter .counter-content{
                  color: #303030;
                  background-color: #fff;
                  height: 160px;
                  width: 160px;
                  padding: 55px 28px;
                  margin: 0 auto 20px;
                  border-radius: 50%;
                  position: relative;
                  transition: all 0.3s;
}
.counter .counter-content:before{
  content: '';
  width: 92%;
  height: 92%;
  border: 13px solid var(--baseColor);
  border-left: 13px solid rgba(232, 30, 2,0.1);
  border-radius: 50% 50%;
  transform: translateX(-50%) translateY(-50%) rotate(30deg);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
}
.counter .counter-content:hover:before{
            transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}
.counter .counter-value{
  font-size: 35px;
  font-weight: 600;
  transition: all 0.3s;
}
.counter .counter-content:hover .counter-value{
  color: var(--color_1);
  text-shadow: 0 0 1px #555;
}
.counter h3{
  margin: 0 0 5px 0;
  transition:all 0.3s;
}
/*VideoBg*/
#videobg{
	color: 	#fff;
	background: url(../image/video-bg.jpg);
	padding: 200px 0;
	text-align: center;
	position: relative	;
	z-index: -1;
}

#videobg:before{
	background: rgba(0,0,0,.5);
	display: block;
	content: "";
	position: absolute;
	left: 	0;
	top: 	0;
	width: 	100%;
	height: 100%;
	z-index: -1;
}

#videobg h2{
	font-size: 	30px;
}

#videobg .fa-play{
	color: 	#fff;
	background: red;
	font-size: 	40px;
	display: block;
	width: 	100px;
	height: 	100px;
	padding-top: 28px;
	margin: 0 auto;
	border-radius: 50%;
}
/*Blog Slider*/
.slider-blog{
	width: 	32%;
	float: left;
	margin-right: 23px;
}

.slider-blog:last-child{
  margin-right: 0;
}

.slider-blog .blog-img{
	position: relative	;
}

.slider-blog .blog-img .blog-date {
  color: #fff;
  background: var(--baseColor);
  padding: 7px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.slider-blog img{
	width: 	100%;
	display: block;
}

.slider-content{
	padding:25px 20px;
}

.slider-content h3 a{
   color: var(--tealbg);	
}

.slider-content h3 a:hover{
   color: var(--baseColor);	
}

.slider-content .readmore{
	color: 	var(--baseColor);
	background: #fdf0ee;
	font-size: 	18px;
	padding:14px 25px;
	border-radius: 4px;
	display: inline-block;

}

.slider-content .readmore:hover{
    color: #fff	;
	background:var(--baseColor);
}

.slider-content hr{
	margin:15px auto;
	border: 1px solid lightgray;
}

.slider-content .fa{
	color: var(--baseColor);
	margin:0 8px 0 5px;
}

.slider-content .blog-detail{
	color: var(--textColor)	;
}
/*Footer*/
#footer{
	color: #fff;
	background: var(--tealbg);
}

#footer a,
#footer p{
  color: #fff;
}

#footer-sidebar{
	display: flow-root;
	padding: 70px 0 0;
}

#footer .widget{
	width:24%;
	float: 	left;
	margin-right: 	15px;
}

#footer .widget:last-child{
  margin-right:0;
}

#footer .widget h4{
  font-size: 20px;
}

#footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer a:hover{
	color: var(--baseColor);
}

.footer-social li{
  float: left;
}

.footer-social li a{
	background:#012e33;
	padding: 5px 15px;
	margin-right: 	8px;
	border-radius: 3px;
  display: 	block;
}

.footer-social li a:hover{
  background: var(--baseColor);
}

#footer .recent-blog img{
   width: 70px;
   margin: 	0 10px 20px 0;
   float: left;
}

#footer .recent-blog .post-date{
	display: block;
}

#footer .projects-slider{
  width: 100%;
}

#footer-copyright{
	padding: 20px 0;
	display: flow-root;
	clear: both;
}

#footer-copyright > span{
	float: left;	
}

#footer-copyright > ul{
	float: right;	
}

#footer-copyright > ul li{
	display: inline-block;
	margin-bottom: 	0;	
}

#footer-copyright > ul li a{
 padding: 10px;
}

#footer-sidebar:after{
	display: block;
	content: "";
	width: 	80%;
	margin: 0 auto 20px;
	clear: both;
	border-bottom: 2px solid lightgray;
}
/*Media Query*/

@media screen and (max-width: 1170px){
	.container{
		width: 850px;
	}
	#banner h2{
		font-size: 45px;
	}
	#book-bar ul{
		padding-left:5px ;
	}
	#logo{
		width: 160px;
		display: block;
		float: none;
		margin: 0 auto 20px;
	}
	#logobar .company-info {
	    float: left;
	    margin-right: 80px;
	}
	.sectionhd h2 {
	    font-size: 35px;
	}
	.servicebox{
		width: 31.5%;
		padding: 40px 20px;
	}
    .servicebox2{
    	width: 31.5%;
    }
    .testimonial {
      width: 47%;
      margin: 0 45px 20px 0;
      border: 1px solid #fff;
    }
    .testimonial:nth-child(2){
    	margin: 0 0px 20px 0;
    }
    .gallery1 {
	    width: 31%;
	    margin-bottom: 25px;
	}
	.gallery1:nth-child(3n){
		margin-right: 0;
	}
	#whyus .rate:nth-child(even){
		margin-left: 0;
	}
	#whycontent{
		margin-right: 50px;
	}
	.team {
	    width: 31.5%;
	}
	#clients ul li {
      padding: 0 5px
	}

	#clients ul li a{
      padding: 0 25px;
	}	
    .slider-blog {
      width: 31.5%;
    }
    #footer .widget {
	    width: 23.6%;
	}
}

@media screen and (max-width: 850px){
	.container{
		width: 90%;
	}
	#book-bar{
		text-align: center;
	}
	#book-info{
		float: none;
		margin-bottom: 8px;
	}
	#book-bar ul{
		float: none;
	}
	.servicebox {
	    width: 47%;
	    padding: 20px;
	    margin: 0 20px 20px 0;
	    bottom: 0;
	}
	.servicebox:nth-child(2){
    .container{
      width: 90%;
    }
    #banner{
      text-align: center;
    }
    #logbar .company-info{
              margin-right: 40px;
    }
    #book-bar{
        text-align: center;
    }
    #book-info{
          float: none;
          margin-bottom: 8px;
    }
    #book-bar ul{
            float: left;
    }
    .servicebox{
            width: 47%;
            padding: 20px;
            margin: 0 20px 20px 0;
            bottom: 0;
    }
    .servicebox:nth-child(2){
      /*margin: -300px 0px 0 0;*/
   }
 
   #about .section{
     padding: 100px 0;
   }
 
   .servicebox2 {
       width: 48%;
   }
 
   .servicebox2:nth-child(3){
     margin-right: 0;
     margin-bottom: 21px;
   }
 
   .gallery1 {
       width: 48%;
   }
 
   .gallery1:nth-child(2n){
     margin-right: 0;
   }
   .gallery1:nth-child(3n) {
       margin-right: 25px;
   }
 
   .team {
       width: 48%;
       margin-bottom: 25px;
   }
   .team:nth-child(3n) {
      margin-right: 0;
   }
   .callout {
       width: 100%;
       margin: 0 0 80px;
       padding: 50px;
   }
   .callout img {
       float: none;
   } 
   #clients ul li {
       padding: 0 15px;
   }
   #whyus {
       background: var(--tealbg) ;
   }
   .whylist .fa-check {
       margin: 0 20px 20px 0;
       float: none;
   }
   #whyrate {
       width: 50%;
   }
   #whycontent {
     width: 45%;
       margin-right: 30px;
   }
   #whyus .rate{
     width: 90%;
   }
   .counter {
       width: 49%;
       padding: 0 0 35px 0;
   }
   .slider-blog {
       width: 48%;
       margin-bottom: 20px
   }
   .slider-blog:nth-child(3n){
     margin-right: 0;	
   }
   #footer .widget {
       width: 48%;
   }
   #footer-sidebar:after {
      
       width: 100%;
       margin: 0 auto 0px;
   }
 }
 
 @media screen and (max-width: 750px){
   .section{
     padding:60px 0; 
   }
   .w50 {
       width: auto;
       float: none;
   }
   #logobar{
     text-align: center;
   }
   #logobar .company-info {
       float: none;
       margin-right:0;
       margin-bottom: 20px;
       line-height: 25px;
       width: auto;
   }
   #logobar .company-info .fa{
     float: none;
   }
   #logobar .readmore{
     float: none;
     display: inline-block;
     margin-bottom: 20px;
   }
 
   .servicebox {
       width: auto;
       padding: 20px;
       margin: 0 0px 20px 0;
   }
   .rate{
     text-align: center;
   }
   .rate .fa{
     float: none;
     margin-bottom: 25px;
   }
   .servicebox2 {
       width: auto;
       margin:0 0 25px 0;
   }
 
   .testimonial {
       width: auto;
       margin: 0 0px 20px 0;
   }
 
   .gallery1 {
       width: 100%;
       margin-right: 0;
   }
   .team {
       width: 60%;
       margin: 0 auto 25px;
       float: none;
       clear: both;
   }
   .team:nth-child(3n) {
       margin-right: auto;
   }
   .team:last-child{
      margin-right: auto;
   }
   #whycontent {
       width: auto;
       margin-right: 0px;
   }
   #whyrate {
       width: 100%;
   }
   #whyus .rate{
     width: 100%
   }
   .counter {
       width: 100%;
   }
   #videobg{
     padding: 80px 0;
     background-size: cover;
   }
   .slider-blog {
       width: 100%;
       margin-right: 0;
       float: none;
   }
   #footer{
     text-align: center;
   }
   #footer .widget {
       width: 100%;
       float: none;
       margin-right: 0;
       clear: both;
   }
   #footer ul{
     display: inline-block;
   }
   #footer-copyright > span{
     float: none;
     display: block;
     margin-bottom: 15px;
   }
   #footer-copyright > ul{
     float: none;
   }
 }
 
 @media screen and (max-width: 480px){
   #book-bar{
     display: none;
   }
   .team {
       width: 100%;
   }
 }